In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data=pd.read_csv('Ball_by_Ball.csv')
data1=pd.read_csv("Player.csv")
data2=pd.read_csv('Match.csv')
data3=pd.read_csv("Player_Match.csv")
data4=pd.read_csv('Season.csv')
data5=pd.read_csv("Team.csv")

ball=pd.DataFrame(data)

ball=ball.loc[(ball.Dissimal_Type != 'run out') & 
                             (ball.Dissimal_Type != 'hit wicket') & 
                             (ball.Dissimal_Type != ' ') & (ball.Dissimal_Type != 'retired hurt')]

wicket=ball.groupby(['Bowler_Id'])
wickets=wicket['Dissimal_Type'].count()
a=pd.DataFrame(wickets)
a.sort_values(by='Dissimal_Type',ascending=False).head(5)

           Dissimal_Type
Bowler_Id
194                  120
50                   107
67                   101
136                  100
71                    98

In [4]:
#most wickets 

player_name=data1.rename(index=str,columns={'Player_Id':'Bowler_Id'})
player_name=player_name.drop(['Is_Umpire','Unnamed: 7'],axis=1)
df=a.merge(player_name,on='Bowler_Id')
df.loc[:,['Player_Name','Dissimal_Type']].sort_values(by='Dissimal_Type',ascending=False).head(5)

         Player_Name  Dissimal_Type
121       SL Malinga            120
28   Harbhajan Singh            107
39         PP Chawla            101
81          A Mishra            100
42          DJ Bravo             98

In [5]:
#highest runs

data['Batsman_Scored']=data['Batsman_Scored'].replace(' ','0')
data['Batsman_Scored']=data['Batsman_Scored'].replace('Do_nothing','0').astype(int)

run=data.groupby(['Striker_Id'])
run1=run['Batsman_Scored'].sum().sort_values()
runs=pd.DataFrame(run1)
runs.sort_values(by='Batsman_Scored',ascending=False)

batsman=data1.rename(index=str,columns={'Player_Id':'Striker_Id'})
batsman=batsman.drop(['Is_Umpire','Unnamed: 7'],axis=1)
batsman_name=runs.merge(batsman,on='Striker_Id')
batsman_name.loc[:,['Player_Name','Batsman_Scored']].sort_values(by='Batsman_Scored',ascending=False).head(5)

    Player_Name  Batsman_Scored
433    SK Raina            4106
432     V Kohli            4105
431   RG Sharma            3874
430   G Gambhir            3634
429    CH Gayle            3447

In [6]:
#max fours

data['Batsman_Scored']=data['Batsman_Scored'].astype(str)
four=data[data['Batsman_Scored'] == '4']

a=four.groupby('Striker_Id')['Batsman_Scored'].count()

b=pd.DataFrame({'Player_Id': a.index, 'Max_fours':a.values})

b.sort_values(by='Max_fours',ascending=False)
max_fours=b.merge(data1,on='Player_Id')

max_fours.loc[:,['Player_Name','Max_fours']].sort_values(by='Max_fours',ascending=False).head(5)

   Player_Name  Max_fours
37   G Gambhir        422
7      V Kohli        360
19    SK Raina        360
39    S Dhawan        348
43  RV Uthappa        341

In [7]:
#max_sixes

ball2=pd.DataFrame(data)
six=ball2[ball2['Batsman_Scored'] == '6']
a=six.groupby('Striker_Id')['Batsman_Scored'].count()
b=pd.DataFrame({'Player_Id': a.index, 'Max_sixes':a.values})


b.sort_values(by='Max_sixes',ascending=False)
max_sixes=b.merge(data1,on='Player_Id')
max_sixes.loc[:,['Player_Name','Max_sixes']].sort_values(by='Max_sixes',ascending=False).head(5)

    Player_Name  Max_sixes
121    CH Gayle        252
51    RG Sharma        164
18     SK Raina        161
7       V Kohli        148
28    YK Pathan        143

In [8]:


#matches in each stadium


vnu=data2.groupby('Venue_Name')
venue=vnu['Match_Id'].count()
most_matches=pd.DataFrame(venue)
most_matches.sort_values(by='Match_Id',ascending=False).head(5)

                                 Match_Id
Venue_Name
M Chinnaswamy Stadium                  58
Eden Gardens                           54
Feroz Shah Kotla                       53
Wankhede Stadium                       49
MA Chidambaram Stadium, Chepauk        48

In [160]:
#man of the match
data2['Man_Of_The_Match_Id']=data2['Man_Of_The_Match_Id'].astype(str).astype(float)
a=data2.loc[:,('Match_Id','Man_Of_The_Match_Id')]

data1['Player_Id']=data1['Player_Id'].astype(float)
b=data1.loc[:,('Player_Id','Player_Name')]

c=b.rename(index=str,columns={'Player_Id':'Man_Of_The_Match_Id'})

d=a.merge(c,on='Man_Of_The_Match_Id')

e=d.sort_values(by='Man_Of_The_Match_Id')

l=e.groupby('Man_Of_The_Match_Id')['Player_Name'].count()

f=c.merge(l,on='Man_Of_The_Match_Id')


h=f.rename(columns={'Player_Name_x':'Player_Name','Player_Name_y':'most_man_of_the_match_awards'})

h.sort_values(by='most_man_of_the_match_awards',ascending=False).head(10)

    Man_Of_The_Match_Id     Player_Name  most_man_of_the_match_awards
90                162.0        CH Gayle                            17
21                 31.0       YK Pathan                            16
67                110.0  AB de Villiers                            15
98                187.0       DA Warner                            14
36                 57.0       RG Sharma                            13
14                 21.0        SK Raina                            13
12                 19.0      MEK Hussey                            12
26                 40.0       G Gambhir                            12
13                 20.0        MS Dhoni                            12
52                 85.0       AM Rahane                            12

In [161]:
#purple cap

pcap=data4.loc[:,('Season_Year','Purple_Cap_Id')]
plyr=data1.loc[:,('Player_Id','Player_Name')]
nw_plyr=plyr.rename(columns={'Player_Id':'Purple_Cap_Id'})
purplecap=nw_plyr.merge(pcap,on='Purple_Cap_Id')
purplecap.loc[:,('Player_Name','Season_Year')].sort_values(by='Season_Year')

     Player_Name  Season_Year
3  Sohail Tanvir         2008
0       RP Singh         2009
4        PP Ojha         2010
6     SL Malinga         2011
5       M Morkel         2012
1       DJ Bravo         2013
8      MM Sharma         2014
2       DJ Bravo         2015
7        B Kumar         2016

In [162]:
#orange cap

ocap=data4.loc[:,('Season_Year','Orange_Cap_Id')]
plyr1=data1.loc[:,('Player_Id','Player_Name')]
nw_plyr=plyr1.rename(columns={'Player_Id':'Orange_Cap_Id'})
orangecap=nw_plyr.merge(ocap,on='Orange_Cap_Id')
orangecap.loc[:,('Player_Name','Season_Year')].sort_values(by='Season_Year')

    Player_Name  Season_Year
4      SE Marsh         2008
1     ML Hayden         2009
5  SR Tendulkar         2010
6      CH Gayle         2011
7      CH Gayle         2012
2    MEK Hussey         2013
3    RV Uthappa         2014
8     DA Warner         2015
0       V Kohli         2016

In [163]:
#man of the series

mos=data4.loc[:,('Season_Year','Man_of_the_Series_Id')]
plyr2=data1.loc[:,('Player_Id','Player_Name')]
nw_plyr1=plyr2.rename(columns={'Player_Id':'Man_of_the_Series_Id'})
man_of_series=nw_plyr1.merge(mos,on='Man_of_the_Series_Id')
man_of_series.loc[:,('Player_Name','Season_Year')].sort_values(by='Season_Year')

    Player_Name  Season_Year
1     SR Watson         2008
3  AC Gilchrist         2009
4  SR Tendulkar         2010
5      CH Gayle         2011
7     SP Narine         2012
2     SR Watson         2013
6    GJ Maxwell         2014
8    AD Russell         2015
0       V Kohli         2016

In [164]:
#team matches and winners
match=data2.loc[:,('Match_Id','Team_Name_Id','Opponent_Team_Id','Match_Winner_Id','Win_Type','Won_By')]
team_code=data5.loc[:,('Team_Id','Team_Short_Code')]
team_code=team_code.rename(columns={'Team_Id':'Team_Name_Id'})

a=match.merge(team_code,on='Team_Name_Id')

a=a.drop('Team_Name_Id',axis=1)
nteam_code=a.rename(columns={'Opponent_Team_Id':'Team_Name_Id','Team_Short_Code':'Team_Name'})
nteam_code=nteam_code.merge(team_code,on='Team_Name_Id')


nteam_code=nteam_code.drop('Team_Name_Id',axis=1)
#nteam_code
oteam_name=nteam_code.rename(columns={'Match_Winner_Id':'Team_Name_Id','Team_Short_Code':'OppTeam_Name'})
oteam_name=oteam_name.merge(team_code,on='Team_Name_Id')
oteam_name=oteam_name.drop('Team_Name_Id',axis=1)
winner_team=oteam_name.rename(columns={'Team_Short_Code':'winner_team'})
winner_team=winner_team.sort_values(by='Match_Id').reset_index()
winner_team=winner_team.drop('index',axis=1)
winner_team=winner_team[['Match_Id','Team_Name','OppTeam_Name','winner_team','Win_Type','Won_By']]

winner_team

     Match_Id Team_Name OppTeam_Name winner_team    Win_Type  Won_By
0      335987       RCB          KKR         KKR     by runs   140.0
1      335988      KXIP          CSK         CSK     by runs    33.0
2      335989        DD           RR          DD  by wickets     9.0
3      335990        MI          RCB         RCB  by wickets     5.0
4      335991       KKR           DC         KKR  by wickets     5.0
5      335992        RR         KXIP          RR  by wickets     6.0
6      335993        DC           DD          DD  by wickets     9.0
7      335994       CSK           MI         CSK     by runs     6.0
8      335995        DC           RR          RR  by wickets     3.0
9      335996      KXIP           MI        KXIP     by runs    66.0
10     335997       RCB           RR          RR  by wickets     7.0
11     335998       CSK          KKR         CSK  by wickets     9.0
12     335999        MI           DC          DC  by wickets    10.0
13     336000      KXIP           DD        KXIP  by wickets     4.0
14     336001       RCB          CSK         CSK     by runs    13.0
15     336002       KKR           MI          MI  by wickets     7.0
16     336003        DD          RCB          DD     by runs    10.0
17     336004        DC         KXIP        KXIP  by wickets     7.0
18     336005        RR          KKR          RR     by runs    45.0
19     336006       CSK           DD          DD  by wickets     8.0
20     336007        DC          RCB         RCB  by wickets     5.0
21     336008      KXIP          KKR        KXIP     by runs     9.0
22     336009        MI           DD          MI     by runs    29.0
23     336010        RR          CSK          RR  by wickets     8.0
24     336011       RCB         KXIP        KXIP  by wickets     6.0
25     336012       CSK           DC          DC  by wickets     7.0
26     336013        MI           RR          MI  by wickets     7.0
27     336014        DD          CSK         CSK  by wickets     4.0
28     336015       KKR          RCB         KKR     by runs     5.0
29     336016        RR           DC          RR  by wickets     8.0
..        ...       ...          ...         ...         ...     ...
544    980966        GL           DD          DD  by wickets     8.0
545    980968       KKR         KXIP         KKR     by runs     7.0
546    980970        DD          RPS         RPS  by wickets     7.0
547    980972       SRH           GL         SRH  by wickets     5.0
548    980974       RCB          RPS         RCB  by wickets     7.0
549    980976      KXIP           DD        KXIP     by runs     9.0
550    980978        MI          SRH         SRH     by runs    85.0
551    980980       KKR           GL          GL  by wickets     5.0
552    980982      KXIP          RCB         RCB     by runs     1.0
553    980984       RPS          SRH         SRH     by runs     4.0
554    980986       RCB           MI          MI  by wickets     6.0
555    980988       SRH           DD          DD  by wickets     7.0
556    980990        MI         KXIP        KXIP  by wickets     7.0
557    980992       RCB           GL         RCB     by runs   144.0
558    980994       KKR          RPS         KKR  by wickets     8.0
559    980996      KXIP          SRH         SRH  by wickets     7.0
560    980998        MI           DD          MI     by runs    80.0
561    981000       KKR          RCB         RCB  by wickets     9.0
562    981002       RPS           DD         RPS     by runs    19.0
563    981004       RCB         KXIP         RCB     by runs    82.0
564    981006        GL          KKR          GL  by wickets     6.0
565    981008        DD          SRH          DD  by wickets     6.0
566    981010       RPS         KXIP         RPS  by wickets     4.0
567    981012        GL           MI          GL  by wickets     6.0
568    981014       KKR          SRH         KKR     by runs    22.0
569    981016        DD          RCB         RCB  by wickets     6.0
570    981018        GL          RCB         RCB  by wickets     4.0
571    981020       SRH          KKR         SRH     by runs    22.0
572    981022        GL          SRH         SRH  by wickets     4.0
573    981024       RCB          SRH         SRH     by runs     8.0

[574 rows x 6 columns]

In [165]:
#team match winnners and man of the match
mom=data2.loc[:,('Match_Id','Man_Of_The_Match_Id','Match_Date')]
plr=data1.loc[:,('Player_Id','Player_Name')]
plr=plr.rename(columns={'Player_Id':'Man_Of_The_Match_Id'})

mom=mom.merge(plr,on='Man_Of_The_Match_Id')

mom=mom.sort_values(by='Match_Id')

man_of_match=mom.merge(winner_team,on='Match_Id')
man_of_match=man_of_match.drop(columns='Man_Of_The_Match_Id').rename(columns={'Player_Name':'Man_of_the_match'})

man_of_match=man_of_match[['Match_Id','Match_Date','Team_Name','OppTeam_Name','winner_team','Win_Type','Won_By','Man_of_the_match']]

man_of_match

,Match_Id,Match_Date,Team_Name,OppTeam_Name,winner_team,Win_Type,Won_By,Man_of_the_match
0,335987,18-Apr-08,RCB,KKR,KKR,by runs,140.0,BB McCullum
1,335988,19-Apr-08,KXIP,CSK,CSK,by runs,33.0,MEK Hussey
2,335989,19-Apr-08,DD,RR,DD,by wickets,9.0,MF Maharoof
3,335990,20-Apr-08,MI,RCB,RCB,by wickets,5.0,MV Boucher
4,335991,20-Apr-08,KKR,DC,KKR,by wickets,5.0,DJ Hussey
5,335992,21-Apr-08,RR,KXIP,RR,by wickets,6.0,SR Watson
6,335993,22-Apr-08,DC,DD,DD,by wickets,9.0,V Sehwag
7,335994,23-Apr-08,CSK,MI,CSK,by runs,6.0,ML Hayden
8,335995,24-Apr-08,DC,RR,RR,by wickets,3.0,YK Pathan
9,335996,25-Apr-08,KXIP,MI,KXIP,by runs,66.0,KC Sangakkara
10,335997,26-Apr-08,RCB,RR,RR,by wickets,7.0,SR Watson
11,335998,26-Apr-08,CSK,KKR,CSK,by wickets,9.0,JDP Oram
12,335999,27-Apr-08,MI,DC,DC,by wickets,10.0,AC Gilchrist
13,336000,27-Apr-08,KXIP,DD,KXIP,by wickets,4.0,SM Katich
14,336001,28-Apr-08,RCB,CSK,CSK,by runs,13.0,MS Dhoni
15,336002,29-Apr-08,KKR,MI,MI,by wickets,7.0,ST Jayasuriya
16,336003,30-Apr-08,DD,RCB,DD,by runs,10.0,GD McGrath
17,336004,1-May-08,DC,KXIP,KXIP,by wickets,7.0,SE Marsh
18,336005,1-May-08,RR,KKR,RR,by runs,45.0,SA Asnodkar
19,336006,2-May-08,CSK,DD,DD,by wickets,8.0,V Sehwag
20,336007,25-May-08,DC,RCB,RCB,by wickets,5.0,R Vinay Kumar
21,336008,3-May-08,KXIP,KKR,KXIP,by runs,9.0,IK Pathan
22,336009,4-May-08,MI,DD,MI,by runs,29.0,SM Pollock
23,336010,4-May-08,RR,CSK,RR,by wickets,8.0,Sohail Tanvir
24,336011,5-May-08,RCB,KXIP,KXIP,by wickets,6.0,S Sreesanth
25,336012,6-May-08,CSK,DC,DC,by wickets,7.0,AC Gilchrist
26,336013,7-May-08,MI,RR,MI,by wickets,7.0,A Nehra
27,336014,8-May-08,DD,CSK,CSK,by wickets,4.0,MS Dhoni
28,336015,8-May-08,KKR,RCB,KKR,by runs,5.0,SC Ganguly
29,336016,9-May-08,RR,DC,RR,by wickets,8.0,YK Pathan
...,...,...,...,...,...,...,...,...
544,980966,3-May-16,GL,DD,DD,by wickets,8.0,RR Pant
545,980968,4-May-16,KKR,KXIP,KKR,by runs,7.0,AD Russell
546,980970,5-May-16,DD,RPS,RPS,by wickets,7.0,AM Rahane
547,980972,6-May-16,SRH,GL,SRH,by wickets,5.0,B Kumar
548,980974,7-May-16,RCB,RPS,RCB,by wickets,7.0,V Kohli
549,980976,7-May-16,KXIP,DD,KXIP,by runs,9.0,MP Stoinis
550,980978,8-May-16,MI,SRH,SRH,by runs,85.0,A Nehra
551,980980,8-May-16,KKR,GL,GL,by wickets,5.0,P Kumar
552,980982,9-May-16,KXIP,RCB,RCB,by runs,1.0,SR Watson
553,980984,10-May-16,RPS,SRH,SRH,by runs,4.0,A Zampa
554,980986,11-May-16,RCB,MI,MI,by wickets,6.0,KH Pandya
555,980988,12-May-16,SRH,DD,DD,by wickets,7.0,CH Morris
556,980990,13-May-16,MI,KXIP,KXIP,by wickets,7.0,MP Stoinis
557,980992,14-May-16,RCB,GL,RCB,by runs,144.0,AB de Villiers
558,980994,14-May-16,KKR,RPS,KKR,by wickets,8.0,YK Pathan
559,980996,15-May-16,KXIP,SRH,SRH,by wickets,7.0,HM Amla
560,980998,15-May-16,MI,DD,MI,by runs,80.0,KH Pandya
561,981000,16-May-16,KKR,RCB,RCB,by wickets,9.0,V Kohli
562,981002,17-May-16,RPS,DD,RPS,by runs,19.0,AB Dinda
563,981004,18-May-16,RCB,KXIP,RCB,by runs,82.0,V Kohli
564,981006,19-May-16,GL,KKR,GL,by wickets,6.0,DR Smith
565,981008,20-May-16,DD,SRH,DD,by wickets,6.0,KK Nair
566,981010,21-May-16,RPS,KXIP,RPS,by wickets,4.0,MS Dhoni
567,981012,21-May-16,GL,MI,GL,by wickets,6.0,SK Raina
568,981014,22-May-16,KKR,SRH,KKR,by runs,22.0,YK Pathan
569,981016,22-May-16,DD,RCB,RCB,by wickets,6.0,V Kohli
570,981018,24-May-16,GL,RCB,RCB,by wickets,4.0,AB de Villiers
571,981020,25-May-16,SRH,KKR,SRH,by runs,22.0,MC Henriques
572,981022,27-May-16,GL,SRH,SRH,by wickets,4.0,DA Warner
573,981024,29-May-16,RCB,SRH,SRH,by runs,8.0,BCJ Cutting

In [166]:
#Season Wise Winner

ssn=data2.loc[:,('Season_Id','Match_Winner_Id')]
winner=ssn.groupby('Season_Id').tail(1)

teams=data5.loc[:,('Team_Id','Team_Short_Code')]
teams=teams.rename(columns={'Team_Id':'Match_Winner_Id','Team_Short_Code':'Team_name'})

teams=teams.merge(winner,on='Match_Winner_Id')
teams=teams.sort_values(by='Season_Id').drop('Match_Winner_Id',axis=1)
Winner_teams=teams[['Season_Id','Team_name']]
Winner_teams

   Season_Id Team_name
4          1        RR
7          2        DC
2          3       CSK
3          4       CSK
0          5       KKR
5          6        MI
1          7       KKR
6          8        MI
8          9       SRH

In [167]:
data['Batsman_Scored']=data['Batsman_Scored'].replace(' ','0')
data['Batsman_Scored']=data['Batsman_Scored'].replace('Do_nothing','0').astype(int)

run=data.groupby(['Striker_Id'])
run1=run['Batsman_Scored'].sum().sort_values()
runs=pd.DataFrame(run1)
runs.sort_values(by='Batsman_Scored',ascending=False)

batsman=data1.rename(index=str,columns={'Player_Id':'Striker_Id'})
batsman=batsman.drop(['Is_Umpire','Unnamed: 7'],axis=1)
batsman_name=runs.merge(batsman,on='Striker_Id')
batsman_name=batsman_name.loc[:,['Player_Name','Batsman_Scored']].sort_values(by='Batsman_Scored',ascending=False).head(10)


batsman_name['Average']='0'
batsman_name['Strike_rate']='0'
batsman_name['Highest_runs']='0'
batsman_name['Matches']='0'



matches=data.loc[:,('Match_Id','Striker_Id')]

matches=matches.groupby('Striker_Id')['Match_Id'].unique()

a=matches.values

#for i in a:
 #   print(a.size)
    
#matches['Match_Id'].unique()
#c=pd.DataFrame({'Id': matches.index, 'match_Id':matches.values})
#c
#b.sort_values(by='Max_fours',ascending=False)


#player_match=data.groupby('Striker_Id')['Match_Id'].count()
#player_match=pd.DataFrame(player_match)
#player_match['Match_Id'].count()
#player_match

In [168]:
#total no of scores get by a bowler in all seasons

max_score=data.groupby('Bowler_Id')['Batsman_Scored'].count()
max_score=pd.DataFrame(max_score)

nw_plyr=plyr.rename(columns={'Player_Id':'Bowler_Id'})
#max_score.rename(columns={:'Player_Id'})

max_score_bowler=nw_plyr.merge(max_score, on='Bowler_Id').sort_values(by='Batsman_Scored',ascending=False)
max_score_bowler=max_score_bowler.rename(columns={'Batsman_Scored':'Max_score_get'})

max_score_bowler.drop('Bowler_Id',axis=1)

          Player_Name  Max_score_get
29    Harbhajan Singh           2742
8             P Kumar           2529
41          PP Chawla           2472
87           A Mishra           2466
132        SL Malinga           2407
137          R Ashwin           2359
62           DW Steyn           2159
51      R Vinay Kumar           2141
44           DJ Bravo           2110
16          IK Pathan           2101
9              Z Khan           2030
84            PP Ojha           1945
38           RP Singh           1874
46            A Nehra           1842
70          JA Morkel           1806
4           JH Kallis           1799
18          SR Watson           1795
19          RA Jadeja           1733
200           B Kumar           1730
155          UT Yadav           1729
128          M Morkel           1699
58           R Bhatia           1618
54           I Sharma           1599
215         SP Narine           1594
79     M Muralitharan           1581
98           L Balaji           1574
22         SK Trivedi           1557
68           AB Dinda           1524
50        DS Kulkarni           1366
82           MM Patel           1339
..                ...            ...
83      CK Kapugedera             17
202            S Rana             16
93       Abdur Razzak             14
69           S Vidyut             13
310           AA Kazi             13
30        LRPL Taylor             13
287           C Munro             12
217        RR Bhatkal             12
153          FY Fazal             12
305           RR Bose             12
253       Sachin Baby             10
122     LA Carseldine              7
242         BJ Rohrer              7
313         SS Mundhe              7
275     KS Williamson              6
208          SA Yadav              6
320         V Shankar              6
312        P Prasanth              6
204      F du Plessis              6
201  Y Gnaneswara Rao              6
193        I Malhotra              6
146       RS Gavaskar              6
308       C Ganapathy              6
307         RA Shaikh              6
71          LPC Silva              6
55          AM Rahane              6
297            N Rana              6
61           B Chipli              6
206         SPD Smith              2
31       AC Gilchrist              1

[331 rows x 2 columns]

In [169]:
#total no of dot balls by players in all seasons

zeros=data[(data.Batsman_Scored==0)]

zeros=zeros.groupby('Striker_Id')['Batsman_Scored'].count()
max_zero=pd.DataFrame(zeros)

max_zero=max_zero.sort_values(by='Batsman_Scored',ascending=False)
#max_zero1=max_zero.rename(columns={'Striker_Id':'Player_Id'})
#max_zero1
player_name=data1.loc[:,('Player_Id','Player_Name')]
player_name=player_name.rename(columns={'Player_Id':'Striker_Id'})
player_name1=player_name.merge(max_zero,on='Striker_Id').sort_values(by='Batsman_Scored',ascending=False)

player_name1.drop('Striker_Id',axis=1)

          Player_Name  Batsman_Scored
7             V Kohli            1193
39          G Gambhir            1167
45         RV Uthappa            1090
159          CH Gayle            1089
56          RG Sharma            1082
20           SK Raina            1081
41           S Dhawan            1077
8           JH Kallis             982
184         DA Warner             950
182           M Vijay             930
1         BB McCullum             893
84          AM Rahane             882
132      SR Tendulkar             875
26       Yuvraj Singh             822
5            R Dravid             820
16           PA Patel             811
19           MS Dhoni             810
31          SR Watson             787
87         KD Karthik             783
145          DR Smith             771
40           V Sehwag             737
52       AC Gilchrist             737
30          YK Pathan             715
109    AB de Villiers             702
205         AT Rayudu             663
0          SC Ganguly             662
99           SE Marsh             660
95          MK Pandey             647
18         MEK Hussey             643
180           NV Ojha             620
..                ...             ...
269           SB Wagh               2
77          VRV Singh               2
143      Abdur Razzak               2
427         CJ Jordan               2
382      BE Hendricks               2
400         SN Thakur               2
399        PJ Cummins               2
398     DJ Muthuswami               2
178        KP Appanna               2
190           C Nanda               1
425         S Kaushik               1
231     SJ Srivastava               1
423           A Zampa               1
133            U Kaul               1
307     DAJ Bracewell               1
384        M de Lange               1
192  Mashrafe Mortaza               1
418     Swapnil Singh               1
217           SE Bond               1
332       Sunny Gupta               1
215           S Tyagi               1
412          M Ashwin               1
319   KMDN Kulasekara               1
141  PM Sarvesh Kumar               1
376     Shivam Sharma               1
377         YS Chahal               1
321    V Pratap Singh               1
212        YA Abdulla               1
244          RS Sodhi               1
147       VS Yeligati               1

[428 rows x 2 columns]

In [170]:
#super over

so=data2.loc[(data2.IS_Superover==1),('Match_Id','Match_Date','Season_Id','Team_Name_Id','Opponent_Team_Id','Match_Winner_Id','IS_Superover')]
tm=data5.loc[:,('Team_Id','Team_Short_Code')]

so1=so.rename(columns={'Team_Name_Id':'Team_Id'})

so1=so1.merge(tm,on='Team_Id').drop('Team_Id',axis=1)

so1=so1.rename(columns={'Opponent_Team_Id':'Team_Id'})

so1=so1.merge(tm,on='Team_Id').drop('Team_Id',axis=1)

team=so1.rename(columns={'Team_Short_Code_x':'Team 1','Team_Short_Code_y':'opp_team','Match_Winner_Id':'Team_Id'})
#team

Super_over=team.merge(tm,on='Team_Id').drop('Team_Id',axis=1)
Super_over=Super_over[['Season_Id','Match_Id','IS_Superover','Match_Date','Team 1','opp_team','Team_Short_Code']].sort_values(by='Season_Id')
Super_over.rename(columns={'Team_Short_Code':'Winning_team'}).drop('IS_Superover',axis=1)

   Season_Id  Match_Id Match_Date Team 1 opp_team Winning_team
0          2    392195  23-Apr-09    KKR       RR           RR
2          3    419126  21-Mar-10    CSK     KXIP         KXIP
4          6    598009   7-Apr-13    SRH      RCB          SRH
5          6    598022  16-Apr-13    RCB       DD          RCB
1          7    729320  29-Apr-14    KKR       RR           RR
3          8    829746  21-Apr-15     RR     KXIP         KXIP

In [171]:
#toss winning and match winning 


toss=data2.loc[:,('Match_Id','Match_Date','Season_Id','Team_Name_Id','Opponent_Team_Id','Match_Winner_Id','Toss_Winner_Id')]

tm=data5.loc[:,('Team_Id','Team_Short_Code')]

toss1=toss.rename(columns={'Team_Name_Id':'Team_Id'})

toss1=toss1.merge(tm,on='Team_Id').drop('Team_Id',axis=1)

toss1=toss1.rename(columns={'Opponent_Team_Id':'Team_Id'})

toss1=toss1.merge(tm,on='Team_Id').drop('Team_Id',axis=1)

toss1=toss1.rename(columns={'Toss_Winner_Id':'Team_Id'})

toss2=toss1.rename(columns={'Team_Short_Code_x':'Team 1','Team_Short_Code_y':'opp_team'})

toss2=toss2.merge(tm,on='Team_Id').drop('Team_Id',axis=1)

toss2=toss2.rename(columns={'Team_Short_Code':'Toss_winning_team'})
toss2=toss2.rename(columns={'Match_Winner_Id':'Team_Id'})


toss2=toss2.merge(tm,on='Team_Id').drop('Team_Id',axis=1)
toss_winning_team=toss2.rename(columns={'Team_Short_Code':'Winning_team'})
toss_winning_team.sort_values(by='Match_Id')

,Match_Id,Match_Date,Season_Id,Team 1,opp_team,Toss_winning_team,Winning_team
0,335987,18-Apr-08,1,RCB,KKR,RCB,KKR
240,335988,19-Apr-08,1,KXIP,CSK,CSK,CSK
467,335989,19-Apr-08,1,DD,RR,RR,DD
116,335990,20-Apr-08,1,MI,RCB,MI,RCB
58,335991,20-Apr-08,1,KKR,DC,DC,KKR
147,335992,21-Apr-08,1,RR,KXIP,KXIP,RR
469,335993,22-Apr-08,1,DC,DD,DC,DD
218,335994,23-Apr-08,1,CSK,MI,MI,CSK
172,335995,24-Apr-08,1,DC,RR,RR,RR
325,335996,25-Apr-08,1,KXIP,MI,MI,KXIP
161,335997,26-Apr-08,1,RCB,RR,RR,RR
204,335998,26-Apr-08,1,CSK,KKR,KKR,CSK
498,335999,27-Apr-08,1,MI,DC,DC,DC
317,336000,27-Apr-08,1,KXIP,DD,DD,KXIP
236,336001,28-Apr-08,1,RCB,CSK,CSK,CSK
348,336002,29-Apr-08,1,KKR,MI,KKR,MI
425,336003,30-Apr-08,1,DD,RCB,RCB,DD
301,336004,1-May-08,1,DC,KXIP,KXIP,KXIP
158,336005,1-May-08,1,RR,KKR,RR,RR
475,336006,2-May-08,1,CSK,DD,CSK,DD
122,336007,25-May-08,1,DC,RCB,DC,RCB
289,336008,3-May-08,1,KXIP,KKR,KXIP,KXIP
357,336009,4-May-08,1,MI,DD,DD,MI
195,336010,4-May-08,1,RR,CSK,CSK,RR
293,336011,5-May-08,1,RCB,KXIP,KXIP,KXIP
500,336012,6-May-08,1,CSK,DC,DC,DC
366,336013,7-May-08,1,MI,RR,MI,MI
243,336014,8-May-08,1,DD,CSK,CSK,CSK
38,336015,8-May-08,1,KKR,RCB,KKR,KKR
186,336016,9-May-08,1,RR,DC,RR,RR
...,...,...,...,...,...,...,...
458,980966,3-May-16,9,GL,DD,DD,DD
47,980968,4-May-16,9,KKR,KXIP,KXIP,KKR
572,980970,5-May-16,9,DD,RPS,RPS,RPS
539,980972,6-May-16,9,SRH,GL,SRH,SRH
85,980974,7-May-16,9,RCB,RPS,RCB,RCB
320,980976,7-May-16,9,KXIP,DD,DD,KXIP
522,980978,8-May-16,9,MI,SRH,MI,SRH
548,980980,8-May-16,9,KKR,GL,GL,GL
107,980982,9-May-16,9,KXIP,RCB,KXIP,RCB
538,980984,10-May-16,9,RPS,SRH,SRH,SRH
380,980986,11-May-16,9,RCB,MI,MI,MI
457,980988,12-May-16,9,SRH,DD,DD,DD
324,980990,13-May-16,9,MI,KXIP,MI,KXIP
130,980992,14-May-16,9,RCB,GL,GL,RCB
67,980994,14-May-16,9,KKR,RPS,RPS,KKR
517,980996,15-May-16,9,KXIP,SRH,KXIP,SRH
361,980998,15-May-16,9,MI,DD,DD,MI
95,981000,16-May-16,9,KKR,RCB,RCB,RCB
571,981002,17-May-16,9,RPS,DD,RPS,RPS
105,981004,18-May-16,9,RCB,KXIP,KXIP,RCB
544,981006,19-May-16,9,GL,KKR,GL,GL
459,981008,20-May-16,9,DD,SRH,DD,DD
569,981010,21-May-16,9,RPS,KXIP,KXIP,RPS
545,981012,21-May-16,9,GL,MI,GL,GL
66,981014,22-May-16,9,KKR,SRH,SRH,KKR
90,981016,22-May-16,9,DD,RCB,RCB,RCB
100,981018,24-May-16,9,GL,RCB,RCB,RCB
513,981020,25-May-16,9,SRH,KKR,KKR,SRH
537,981022,27-May-16,9,GL,SRH,SRH,SRH
532,981024,29-May-16,9,RCB,SRH,SRH,SRH

In [172]:




captain=data3.loc[(data3.Is_Captain== 1),('Match_Id','Player_Id','Is_Captain','Team_Id')]

t=data2.loc[:,('Match_Id','Season_Id','Team_Name_Id','Opponent_Team_Id','Match_Winner_Id')]

table=t.merge(captain, on='Match_Id')


table=table.loc[(table.Is_Captain == 1)]


table=table.loc[(table.Match_Winner_Id== table.Team_Id)]

table=table.groupby('Player_Id')['Match_Winner_Id'].count()

captain_win=pd.DataFrame(table)


c=data1.loc[:,('Player_Id','Player_Name')]
captain_win=c.merge(captain_win,on='Player_Id')

captain_win=captain_win.sort_values(by='Match_Winner_Id',ascending=False).head(1)


captain_win['Win_percentage']= round((captain_win['Match_Winner_Id'] * 100)/143)

captain_win.rename(columns={'Match_Winner_Id':'Total_wins_as_captain'})

   Player_Id Player_Name  Total_wins_as_captain  Win_percentage
8       20.0    MS Dhoni                     83            58.0

In [173]:
#total matches in all seasons

matches=data2.loc[:,('Season_Id','Match_Id')]

matches=matches.groupby('Season_Id')['Match_Id'].count()

pd.DataFrame(matches)

           Match_Id
Season_Id
1                58
2                57
3                60
4                73
5                74
6                76
7                60
8                59
9                60

In [174]:
#total teams played in all seasons
#matches=data.loc[:,('Season_Id','')]

#matches=matches.groupby('Season_Id')['Match_Id'].count()

#pd.DataFrame(matches)

In [180]:
#max catches

catch=data.loc[data.Dissimal_Type=='caught',('Dissimal_Type','Fielder_Id')]

catch['Fielder_Id']=catch['Fielder_Id'].astype(str).astype(float)
catch=catch.groupby('Fielder_Id')['Dissimal_Type'].count()

#catch.info()

plr=data1.loc[:,('Player_Id','Player_Name')]
#plr.info()

plr = plr.rename (columns={'Player_Id':'Fielder_Id'})

catches=plr.merge(catch,on='Fielder_Id')
catches.sort_values(by='Dissimal_Type',ascending=False).drop('Fielder_Id',axis=1).head(5)

        Player_Name  Dissimal_Type
81       KD Karthik             72
101  AB de Villiers             72
18         SK Raina             67
42       RV Uthappa             58
17         MS Dhoni             51

In [201]:
ab=data3.loc[:,('Player_Id','Team_Id')].sort_values(by='Team_Id')
ab['Player_Id']=ab['Player_Id'].astype(float)



plr=data1.loc[:,('Player_Id','Player_Name')]
player=plr.merge(ab,on='Player_Id')




player=player.groupby('Team_Id')['Player_Name'].unique()

a1=pd.Series(player[1])
a2=pd.Series(player[2])
a3=pd.Series(player[3])
a4=pd.Series(player[4])
a5=pd.Series(player[5])
a6=pd.Series(player[6])
a7=pd.Series(player[7])
a8=pd.Series(player[8])
a9=pd.Series(player[9])
a10=pd.Series(player[10])
a11=pd.Series(player[11])
a12=pd.Series(player[12])
a13=pd.Series(player[13])

#b=pd.DataFrame({'Player_Id': a.index, 'Max_fours':a.values})
dict1={'KKR':a1.values,'RCB':a2.values,'CSK':a3.values,'KXIP':a4.values,'RR':a5.values,'DD':a6.values,'MI':a7.values,'DC':a8.values,'KTK':a9.values,'PW':a10.values,'SRH':a11.values,'RPS':a12.values,'GL':a13.values}
df = pd.DataFrame.from_dict(dict1, orient='index')
df.transpose()

,KKR,RCB,CSK,KXIP,RR,DD,MI,DC,KTK,PW,SRH,RPS,GL
0,SC Ganguly,R Dravid,BB McCullum,DJ Hussey,R Dravid,Z Khan,RT Ponting,CL White,BB McCullum,SC Ganguly,CL White,MS Dhoni,BB McCullum
1,BB McCullum,W Jaffer,DJ Hussey,P Kumar,JDP Oram,JR Hopes,P Kumar,PA Patel,B Akhil,Yuvraj Singh,P Kumar,IK Pathan,P Kumar
2,RT Ponting,V Kohli,PA Patel,K Goel,T Kohli,Yuvraj Singh,Z Khan,KC Sangakkara,PA Patel,M Rawat,PA Patel,RP Singh,SK Raina
3,DJ Hussey,JH Kallis,ML Hayden,JR Hopes,YK Pathan,IK Pathan,PA Patel,S Dhawan,RA Jadeja,RV Uthappa,KC Sangakkara,SS Tiwary,RA Jadeja
4,Mohammad Hafeez,CL White,MEK Hussey,KC Sangakkara,SR Watson,G Gambhir,MEK Hussey,AC Gilchrist,VVS Laxman,AM Nayar,Yuvraj Singh,I Sharma,DJ Bravo
5,JH Kallis,MV Boucher,MS Dhoni,Yuvraj Singh,M Kaif,V Sehwag,JDP Oram,Y Venugopal Rao,RP Singh,LRPL Taylor,IK Pathan,AM Rahane,DS Kulkarni
6,MV Boucher,B Akhil,SK Raina,SM Katich,DS Lehmann,S Dhawan,S Dhawan,VVS Laxman,DPMD Jayawardene,A Nehra,S Dhawan,R Bhatia,KD Karthik
7,YK Pathan,AA Noffke,JDP Oram,IK Pathan,RA Jadeja,LRPL Taylor,L Ronchi,A Symonds,S Sreesanth,GC Smith,Y Venugopal Rao,AB Dinda,DW Steyn
8,G Gambhir,P Kumar,S Badrinath,T Kohli,M Rawat,Y Venugopal Rao,ST Jayasuriya,RG Sharma,R Vinay Kumar,M Kartik,A Nehra,JA Morkel,PJ Sangwan
9,RV Uthappa,Z Khan,RA Jadeja,M Kaif,D Salunkhe,LR Shukla,DJ Thornely,SB Styris,BJ Hodge,MK Pandey,I Sharma,KP Pietersen,DR Smith
10,SB Bangar,SB Joshi,SB Styris,V Sehwag,SK Warne,DPMD Jayawardene,RV Uthappa,SB Bangar,M Muralitharan,AB Dinda,DW Steyn,GJ Bailey,SB Jakati
11,WP Saha,PA Patel,WP Saha,AM Nayar,SK Trivedi,A Nehra,PR Shah,WPUJC Vaas,RR Powar,JD Ryder,DB Ravi Teja,R Ashwin,S Ladda
12,LR Shukla,Yuvraj Singh,DJ Bravo,AC Gilchrist,PR Shah,SS Tiwary,AM Nayar,RP Singh,OA Shah,Kamran Khan,S Anirudha,MR Marsh,AJ Finch
13,B Lee,SR Watson,A Nehra,WP Saha,AM Nayar,AB Agarkar,SM Pollock,S Sohal,KM Jadhav,M Manhas,A Mishra,NLTC Perera,JP Faulkner
14,PP Chawla,M Kaif,VY Mahesh,DPMD Jayawardene,LRPL Taylor,Shoaib Malik,Harbhajan Singh,Shahid Afridi,RV Gomez,BAW Mendis,RS Bopara,F du Plessis,PV Tambe
15,R Vinay Kumar,RV Uthappa,SP Fleming,S Sohal,Kamran Akmal,MK Tiwary,A Symonds,I Sharma,NLTC Perera,TL Suman,MC Henriques,SPD Smith,Ishan Kishan
16,AB Agarkar,S Chanderpaul,S Vidyut,B Lee,GC Smith,KD Karthik,RG Sharma,B Chipli,M Klinger,AD Mathews,KV Sharma,Ankit Sharma,AD Nath
17,M Kartik,LRPL Taylor,JA Morkel,PP Chawla,Pankaj Singh,R Bhatia,RP Singh,DW Steyn,P Parameswaran,AA Jhunjhunwala,NV Ojha,M Ashwin,S Kaushik
18,I Sharma,RP Singh,Joginder Sharma,WA Mota,S Sreesanth,MF Maharoof,DJ Bravo,HH Gibbs,Y Gnaneswara Rao,MD Mishra,DA Warner,PSP Handscomb,ER Dwivedi
19,MK Tiwary,Pankaj Singh,MS Gony,RR Sarwan,DS Kulkarni,VY Mahesh,MA Khote,DNT Zoysa,P Prasanth,R Sharma,AP Tare,UT Khawaja,None
20,R Bhatia,SS Tiwary,M Muralitharan,S Sreesanth,AM Rahane,B Chipli,A Nehra,D Kalyankrishna,None,MR Marsh,EJG Morgan,A Zampa,None
21,DB Das,R Vinay Kumar,M Ntini,VRV Singh,R Bhatia,AB Dinda,SS Tiwary,LPC Silva,None,AJ Finch,Bipul Sharma,SM Boland,None
22,MK Pandey,M Kartik,S Anirudha,M Kartik,SA Asnodkar,JA Morkel,DS Kulkarni,DB Ravi Teja,None,RV Gomez,AJ Finch,DL Chahar,None
23,Salman Butt,KD Karthik,CK Kapugedera,KD Karthik,Sohail Tanvir,AB de Villiers,R Vinay Kumar,MS Gony,None,WD Parnell,NLTC Perera,None,None
24,BJ Hodge,B Chipli,DR Smith,TM Srivastava,BJ Hodge,PJ Sangwan,AM Rahane,PP Ojha,None,TD Paine,B Kumar,None,None
25,Umar Gul,DW Steyn,L Balaji,SE Marsh,MM Patel,Mohammad Asif,KD Karthik,A Mishra,None,SB Wagh,Ankit Sharma,None,None
26,AB Dinda,MK Pandey,A Mukund,MS Gony,SP Goswami,GD McGrath,MK Pandey,PM Sarvesh Kumar,None,AC Thomas,A Ashish Reddy,None,None
27,PJ Sangwan,AB Dinda,A Flintoff,U Kaul,AD Mascarenhas,TM Dilshan,HH Gibbs,DP Vijaykumar,None,NL McCullum,BB Samantray,None,None
28,A Chopra,JA Morkel,T Thushara,AD Mascarenhas,NK Patel,A Mishra,YV Takawale,H Das,None,JE Taylor,PA Reddy,None,None
29,T Taibu,AB de Villiers,M Manhas,LA Pomersbach,Iqbal Abdulla,JP Duminy,RR Raje,DR Smith,None,AG Murtaza,GH Vihari,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,JD Unadkat,R Ninan,None,Shivam Sharma,GB Hogg,CH Morris,TG Southee,None,None,None,None,None,None
71,Mohammed Shami,S Aravind,None,BE Hendricks,A Chandila,SV Samson,BR Dunk,None,None,None,None,None,None
72,SMSM Senanayake,J Syed Mohammad,None,Karanveer Singh,KK Nair,BJ Rohrer,YS Chahal,None,None,None,None,None,None
73,M de Lange,P Parameswaran,None,Anureet Singh,MDKJ Perera,Q de Kock,LMP Simmons,None,None,None,None,None,None
74,JO Holder,VR Aaron,None,SN Thakur,R Shukla,CM Gautam,S Gopal,None,None,None,None,None,None
75,Anureet Singh,ND Doshi,None,MP Stoinis,CH Morris,S Kaul,M de Lange,None,None,None,None,None,None
76,PJ Cummins,S Rana,None,P Sahu,SV Samson,NM Coulter-Nile,J Suchith,None,None,None,None,None,None
77,C Munro,HV Patel,None,KJ Abbott,KW Richardson,JDS Neesham,HH Pandya,None,None,None,None,None,None
78,KC Cariappa,RR Bhatkal,None,NS Naik,Sachin Baby,Imran Tahir,MJ McClenaghan,None,None,None,None,None,None
79,SS Sarkar,KK Nair,None,KC Cariappa,PV Tambe,SS Iyer,JC Buttler,None,None,None,None,None,None
80,MB Parmar,JD Unadkat,None,Swapnil Singh,TG Southee,DJ Muthuswami,KH Pandya,None,None,None,None,None,None
81,JW Hastings,R Rampaul,None,HM Amla,BCJ Cutting,CR Brathwaite,MJ Guptill,None,None,None,None,None,None
82,Kuldeep Yadav,KL Rahul,None,F Behardien,R Tewatia,RR Pant,N Rana,None,None,None,None,None,None
83,None,DJG Sammy,None,Gagandeep Singh,DJ Hooda,SW Billings,A Nel,None,None,None,None,None,None
84,None,KW Richardson,None,RR Bose,BB Sran,J Yadav,RA Shaikh,None,None,None,None,None,None
85,None,Parvez Rasool,None,MG Neser,S Badree,B Geeves,RW Price,None,None,None,None,None,None
86,None,Sachin Baby,None,P Dharmani,None,AM Salvi,P Suyal,None,None,None,None,None,None
87,None,NJ Maddinson,None,None,None,GS Sandhu,K Santokie,None,None,None,None,None,None
88,None,MA Starc,None,None,None,None,RV Pawar,None,None,None,None,None,None
89,None,RR Rossouw,None,None,None,None,None,None,None,None,None,None,None
90,None,YS Chahal,None,None,None,None,None,None,None,None,None,None,None
91,None,VH Zol,None,None,None,None,None,None,None,None,None,None,None
92,None,SA Abbott,None,None,None,None,None,None,None,None,None,None,None
93,None,D Wiese,None,None,None,None,None,None,None,None,None,None,None
94,None,SN Khan,None,None,None,None,None,None,None,None,None,None,None
95,None,TM Head,None,None,None,None,None,None,None,None,None,None,None
96,None,CJ Jordan,None,None,None,None,None,None,None,None,None,None,None
97,None,AA Kazi,None,None,None,None,None,None,None,None,None,None,None
98,None,AF Milne,None,None,None,None,None,None,None,None,None,None,None
99,None,T Shamsi,None,None,None,None,None,None,None,None,None,None,None

In [ ]:
'''
for i in range(len(ab)-1):
    a=ab.values[i]
    
    print('Team-Id',[i])
    l=pd.Series(a)
    n=pd.DataFrame({'player_Id' : l.values})
    
    print(n)


'''
#.sort_values()
#l.sort_values(axis=0)